    <div class="row">
      <div class="12u">

        <!-- Banner -->
          <section id="banner">
              <span class="image image-full">
              <img src="{{ site.assets.img }}world_map.png"/>
              </span>
              <header>

                <!-- Nav -->
                  <nav class="nav">
                  <h2> Project Regions </h2>
                    <ul>
                      {% for region in site.sitedata.regions %}

                        <li><a href="{{site.url}}/projects/{{ region }}">
                        {% if region == 'emea' %}
                        Europe, Middle East & Africa
                        {% else %}
                        {{ region|capitalize }}
                        {% endif %}
                        </a></li>
                      
                      {% endfor %}
                    </ul>
                  </nav>

              </header>
          </section>

      </div>
    </div>

  </div>
  {% include clients.html %}
</div>