{% include header.html %}
<!-- Header Wrapper -->
<div id="header-wrapper">
  <div class="container">
{% include nav.html %}
  </div>
</div>
<!-- Main Wrapper -->
<div id="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="-3u 6u">
        
        <!-- Portfolio -->
          <section>
            <div>
              <div class="row">
                <div class="12u skel-cell-important">
                                        <!-- Content -->
                          <article class="box is-post">
                            <header class="profile">
                              <h2>{{page.title}}</h2>
                              <span class="byline">{{page.subtitle}}</span>
                            </header>
                          {{ content }}
                      </article>
                      </div>
                    </div>
                  </div>
                </section>

            </div>
          </div>
        </div>
      </div>

{% include footer.html %}